/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Day/Night mode transitions */
.day-mode {
  background-image: linear-gradient(to bottom right, #E6E6FA, #ADD8E6, #98FB98);
  transition: background-color 1000ms;
}

.night-mode {
  background-image: linear-gradient(to bottom right, #9370DB, #6495ED, #DB7093);
  transition: background-color 1000ms;
}
